header.header {
  background: rgb(114, 0, 158);
  background: linear-gradient(45deg, rgba(114, 0, 158, 1) 0%, rgba(56, 108, 208, 1) 75%, rgba(0, 212, 255, 1) 100%);
  padding-top: 2rem;

  >div {
    max-width: 1120px;
    margin: 0 auto;

    padding: 2rem 1rem 12rem;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}